/* Background */

body {
  width: 100%;
  height: calc(100vh - 10vh);
  margin-top: 10vh;
  background-image: url(../img/BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  display: flex;
  align-items: center;
  justify-content: center;
}
