/* Background */
/* This is a background for the main/hero section of the main page. */

main {
  width: 100%;
  height: calc(100vh - 20vh);
  margin-top: 20vh;
  background-image: url(../img/BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
}

/* Main Section */
/* This is code for the main/hero section. */

.main-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  z-index: 100;
  column-gap: 20vw;
}

.m {
  width: 25vw;
}

/* Title Inside Main Section */

.m h1 {
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 3rem;
  border-block: 1rem solid var(--c1);
  border-left: 0.2rem solid var(--c1);
  border-right: 0.2rem solid var(--c1);
}

/* Information Inside Main Section */

main .m p {
  border-right: 0.4rem solid var(--c1);
  padding-right: 2rem;
  margin: 3rem 0;
}

/* Button Inside Main Section */

main .m a {
  display: block;
  background-color: var(--c1);
  border-radius: 3rem;
  padding: 1rem 2rem;
  width: 20rem;
  margin-top: 2rem;
  text-transform: uppercase;
  text-align: center;
}

main .m a:hover {
  background-color: transparent;
  border: 0.4rem solid var(--c1);
  border-radius: 3rem;
}

/* Quotes Inside Main Section */

.quotes {
  width: 25vw;
}

.quotes h1 {
  width: fit-content;
  text-align: center;
  font-size: clamp(1.8rem, 2vw, 3rem);
  margin-left: 6.25vw;
  padding: 1rem;
  border-radius: 2rem;
  border-block: 0.5rem solid var(--c1);
  border-left: 0.2rem solid var(--c1);
  border-right: 0.2rem solid var(--c1);
}

.quotes p {
  border-left: 0.4rem solid var(--c1);
  padding-left: 2rem;
  margin: 3rem 0;
}

.quotes p a {
  cursor: default;
  border-block: 0.2rem solid var(--c1);
  border-radius: 0.5rem;
}

.quotes p:nth-child(3) {
  margin-left: 3rem;
}

.quotes p:nth-child(4) {
  margin-left: 5rem;
}

/* Category Section */

.category {
  width: 100%;
  padding: 6rem 0;
  background-color: var(--c2);
}

.cat-flex {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.category p {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 4rem;
  flex-basis: 100%;
}

.catbox {
  width: 20rem;
  height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.catbox:nth-child(2) {
  background-image: url(../img/Education.jpeg);
}

.catbox:nth-child(3) {
  background-image: url(../img/Clubs.jpeg);
}

.catbox:nth-child(4) {
  background-image: url(../img/Sports.jpeg);
}

.catbox:nth-child(5) {
  background-image: url(../img/Events.jpeg);
}

.dark-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--c2);
  opacity: 0.5;
  transition: all ease-in-out 250ms;
}
.catbox:hover .dark-overlay {
  opacity: 0;
}

.catbox h3 {
  color: var(--c1);
  line-height: 2.4rem;
  text-align: center;
  text-shadow: -0.2rem 0.2rem 0rem var(--c2);
  z-index: 1;
}

/* About Section */

.about {
  width: 100%;
  padding: 6rem 0;
  background-color: var(--bgc);
}

.about-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6rem;
}

.prin img {
  width: 25rem;
  border-radius: 25rem;
}

.abp {
  flex-basis: 45.5rem;
}

.abp p {
  padding: 2rem 0;
  text-align: justify;
}

.abp a {
  display: block;
  background-color: var(--c1);
  border-radius: 3rem;
  padding: 1rem 2rem;
  width: fit-content;
  margin-top: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.abp a:hover {
  background-color: transparent;
  border: 0.4rem solid var(--c1);
  border-radius: 3rem;
}

.skill {
  flex-basis: 35rem;
}

.skill .skb {
  width: 100%;
  height: 2rem;
  border: 0.4rem solid var(--w);
}

.skill .skbf {
  height: 100%;
  background-color: var(--c1);
}

.f {
  width: 100%;
}

.c {
  width: 100%;
}

.a {
  width: 100%;
}

.o {
  width: 100%;
}

/* Other Res */

@media only screen and (min-width: 300px) and (max-width: 1070px) {
  /* Main Section */

  main {
    width: 100%;
    height: 100vh;
    margin-top: 20vh;
    background-image: none;
  }

  .main-flex {
    align-items: flex-end;
    column-gap: 0vw;
  }

  .m {
    padding-bottom: 8rem;
    width: 75vw;
  }

  .quotes {
    display: none;
  }

  .m h1 {
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    border-radius: 3rem;
    border-block: 1rem solid var(--c1);
    border-left: 0.2rem solid var(--c1);
    border-right: 0.2rem solid var(--c1);
  }

  main .m p {
    border-right: none;
    padding-right: 0;
    margin: 3rem 0;
  }

  main .m a {
    margin: 2rem auto 0 auto;
    font-size: 2rem;
  }

  main .m a:hover {
    background-color: transparent;
    border: 0.4rem solid var(--c1);
    border-radius: 3rem;
  }

  /* Category Section */

  .category {
    width: 100%;
    padding: 4rem 0 2rem;
  }

  .cat-flex {
    column-gap: 0;
    row-gap: 2rem;
    flex-wrap: wrap;
  }

  .category p {
    padding-bottom: 2rem;
  }

  .catbox {
    width: 100%;
    height: 20.55rem;
  }

  /* About Section */

  .about-flex {
    flex-wrap: wrap;
    row-gap: 2rem;
  }

  .prin {
    width: 60%;
  }

  .prin img {
    width: 100%;
    border-radius: 100%;
  }

  .abp {
    flex-basis: 100%;
  }

  .abp {
    text-align: center;
  }

  .abp p {
    padding: 2rem 0;
  }

  .abp a {
    display: block;
    background-color: var(--c1);
    border-radius: 3rem;
    padding: 1rem 2rem;
    width: fit-content;
    margin-top: 2rem;
    text-transform: uppercase;
    text-align: center;
  }

  .abp a:hover {
    background-color: transparent;
    border: 0.4rem solid var(--c1);
    border-radius: 3rem;
  }
}

@media only screen and (min-height: 300px) and (max-height: 660px) {
  /* Main Section */

  main {
    width: 100%;
    height: 100vh;
    margin-top: 20vh;
    background-image: none;
  }

  .main-flex {
    align-items: flex-end;
    column-gap: 0vw;
  }

  .m {
    padding-bottom: 8rem;
    width: 75vw;
  }

  .quotes {
    display: none;
  }

  .m h1 {
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    border-radius: 3rem;
    border-block: 1rem solid var(--c1);
    border-left: 0.2rem solid var(--c1);
    border-right: 0.2rem solid var(--c1);
  }

  main .m p {
    border-right: none;
    padding-right: 0;
    margin: 3rem 0;
  }

  main .m a {
    margin: 2rem auto 0 auto;
    font-size: 2rem;
  }

  main .m a:hover {
    background-color: transparent;
    border: 0.4rem solid var(--c1);
    border-radius: 3rem;
  }

  /* Category Section */

  .category {
    width: 100%;
    padding: 4rem 0 2rem;
  }

  .cat-flex {
    column-gap: 0;
    row-gap: 2rem;
    flex-wrap: wrap;
  }

  .category p {
    padding-bottom: 2rem;
  }

  .catbox {
    width: 100%;
    height: 20.55rem;
  }

  /* About Section */

  .about-flex {
    flex-wrap: wrap;
    row-gap: 2rem;
  }

  .prin {
    width: 60%;
  }

  .prin img {
    width: 100%;
    border-radius: 100%;
  }

  .abp {
    flex-basis: 100%;
  }

  .abp {
    text-align: center;
  }

  .abp p {
    padding: 2rem 0;
  }

  .abp a {
    display: block;
    background-color: var(--c1);
    border-radius: 3rem;
    padding: 1rem 2rem;
    width: fit-content;
    margin-top: 2rem;
    text-transform: uppercase;
    text-align: center;
  }

  .abp a:hover {
    background-color: transparent;
    border: 0.4rem solid var(--c1);
    border-radius: 3rem;
  }
}
